For this part, I am using the same dataset used for our assignment 1.

In [2]:
import pandas as pd
import numpy as np
import itertools
from source import apriori
df = pd.read_csv(
                "data/assignment1.csv")
import warnings
warnings.filterwarnings('ignore')
df = df.rename(columns={"Transaction":"Items"})

In [3]:
pd.Series([i.replace(" ", "").split(",") for i in np.array(df["Items"])])

0              [apple, banana, water, fig]
1             [banana, orange, fig, water]
2               [apple, water, pear, milk]
3               [pear, banana, fig, water]
4              [apple, banana, water, fig]
5         [orange, pear, milk, fig, water]
6     [apple, pear, orange, banana, water]
7           [banana, water, apple, orange]
8              [apple, orange, fig, water]
9               [pear, banana, water, fig]
10            [apple, water, banana, milk]
11              [orange, fig, pear, water]
12       [banana, apple, pear, fig, water]
13          [apple, orange, banana, water]
14              [fig, pear, banana, water]
15             [orange, fig, apple, water]
16     [banana, apple, orange, fig, water]
17              [pear, banana, water, fig]
18             [water, fig, orange, apple]
19      [banana, pear, orange, fig, water]
20            [water, apple, milk, orange]
21             [banana, apple, fig, water]
22           [orange, water, pear, banana]
23               [pear, fig, apple, water]
24          [orange, water, apple, banana]
25     [apple, banana, water, orange, fig]
26              [pear, water, banana, fig]
27          [orange, apple, banana, water]
28             [fig, water, banana, apple]
29            [orange, banana, water, fig]
dtype: object

Part 4: Comparison

In [5]:
from efficient_apriori import apriori as appp
itemsets, rules = appp([i.replace(" ", "").split(",") for i in np.array(df["Items"])] , min_support=0.5, min_confidence=0.5)
rules

[{water} -> {apple},
 {apple} -> {water},
 {fig} -> {banana},
 {banana} -> {fig},
 {water} -> {banana},
 {banana} -> {water},
 {water} -> {fig},
 {fig} -> {water},
 {water} -> {orange},
 {orange} -> {water},
 {fig, water} -> {banana},
 {banana, water} -> {fig},
 {banana, fig} -> {water},
 {water} -> {banana, fig},
 {fig} -> {banana, water},
 {banana} -> {fig, water}]

In [6]:
from sklearn.preprocessing import MultiLabelBinarizer
test = [i.replace(" ", "").split(",") for i in np.array(df["Items"])]
mlb = MultiLabelBinarizer()
res = pd.DataFrame(mlb.fit_transform(test),
                   columns=mlb.classes_,
                )

In [7]:
res

    apple  banana  fig  milk  orange  pear  water
0       1       1    1     0       0     0      1
1       0       1    1     0       1     0      1
2       1       0    0     1       0     1      1
3       0       1    1     0       0     1      1
4       1       1    1     0       0     0      1
5       0       0    1     1       1     1      1
6       1       1    0     0       1     1      1
7       1       1    0     0       1     0      1
8       1       0    1     0       1     0      1
9       0       1    1     0       0     1      1
10      1       1    0     1       0     0      1
11      0       0    1     0       1     1      1
12      1       1    1     0       0     1      1
13      1       1    0     0       1     0      1
14      0       1    1     0       0     1      1
15      1       0    1     0       1     0      1
16      1       1    1     0       1     0      1
17      0       1    1     0       0     1      1
18      1       0    1     0       1     0      1
19      0       1    1     0       1     1      1
20      1       0    0     1       1     0      1
21      1       1    1     0       0     0      1
22      0       1    0     0       1     1      1
23      1       0    1     0       0     1      1
24      1       1    0     0       1     0      1
25      1       1    1     0       1     0      1
26      0       1    1     0       0     1      1
27      1       1    0     0       1     0      1
28      1       1    1     0       0     0      1
29      0       1    1     0       1     0      1

In [8]:
ap = apriori(df["Items"])
freq = ap.get_freq_items(50)
ap.get_associations(freq,50)

Support for item-set('fig',): 70.0
Support for item-set('banana',): 73.33333333333333
Support for item-set('water',): 100.0
Support for item-set('orange',): 56.666666666666664
Support for item-set('apple',): 63.33333333333333
Support for item-set('fig', 'banana'): 50.0
Support for item-set('fig', 'water'): 70.0
Support for item-set('banana', 'water'): 73.33333333333333
Support for item-set('water', 'orange'): 56.666666666666664
Support for item-set('water', 'apple'): 63.33333333333333
Support for item-set('fig', 'banana', 'water'): 50.0
Association found
('fig',) -> banana: 71.42857142857143
('banana',) -> fig: 68.18181818181819
('fig',) -> water: 100.0
('water',) -> fig: 70.0
('banana',) -> water: 100.0
('water',) -> banana: 73.33333333333333
('water',) -> orange: 56.666666666666664
('orange',) -> water: 100.0
('water',) -> apple: 63.33333333333333
('apple',) -> water: 100.0
('fig', 'banana') -> water: 100.0
('fig', 'water') -> banana: 71.42857142857143
('banana', 'fig') -> water: 100.0
('banana', 'water') -> fig: 68.18181818181819
('water', 'fig') -> banana: 71.42857142857143
('water', 'banana') -> fig: 68.18181818181819

In [9]:
from mlxtend.frequent_patterns import apriori as fpgrowth, association_rules, apriori as appriori
frequent_itemsets = appriori(res, min_support=0.5, use_colnames= True)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
rules

C:\Users\panch\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(water),(apple),1.000000,0.633333,0.633333,0.633333,1.000000,0.000000,1.000000,0.000000
1,(apple),(water),0.633333,1.000000,0.633333,1.000000,1.000000,0.000000,inf,0.000000
2,(fig),(banana),0.700000,0.733333,0.500000,0.714286,0.974026,-0.013333,0.933333,-0.081633
3,(banana),(fig),0.733333,0.700000,0.500000,0.681818,0.974026,-0.013333,0.942857,-0.090909
4,(water),(banana),1.000000,0.733333,0.733333,0.733333,1.000000,0.000000,1.000000,0.000000
5,(banana),(water),0.733333,1.000000,0.733333,1.000000,1.000000,0.000000,inf,0.000000
6,(water),(fig),1.000000,0.700000,0.700000,0.700000,1.000000,0.000000,1.000000,0.000000
7,(fig),(water),0.700000,1.000000,0.700000,1.000000,1.000000,0.000000,inf,0.000000
8,(water),(orange),1.000000,0.566667,0.566667,0.566667,1.000000,0.000000,1.000000,0.000000
9,(orange),(water),0.566667,1.000000,0.566667,1.000000,1.000000,0.000000,inf,0.000000
10,"(water, fig)",(banana),0.700000,0.733333,0.500000,0.714286,0.974026,-0.013333,0.933333,-0.081633
11,"(water, banana)",(fig),0.733333,0.700000,0.500000,0.681818,0.974026,-0.013333,0.942857,-0.090909
12,"(fig, banana)",(water),0.500000,1.000000,0.500000,1.000000,1.000000,0.000000,inf,0.000000
13,(water),"(fig, banana)",1.000000,0.500000,0.500000,0.500000,1.000000,0.000000,1.000000,0.000000
14,(fig),"(water, banana)",0.700000,0.733333,0.500000,0.714286,0.974026,-0.013333,0.933333,-0.081633
15,(banana),"(water, fig)",0.733333,0.700000,0.500000,0.681818,0.974026,-0.013333,0.942857,-0.090909

In [10]:
frequent_itemsets = fpgrowth(res, min_support=0.5, use_colnames= True)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
rules

C:\Users\panch\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(water),(apple),1.000000,0.633333,0.633333,0.633333,1.000000,0.000000,1.000000,0.000000
1,(apple),(water),0.633333,1.000000,0.633333,1.000000,1.000000,0.000000,inf,0.000000
2,(fig),(banana),0.700000,0.733333,0.500000,0.714286,0.974026,-0.013333,0.933333,-0.081633
3,(banana),(fig),0.733333,0.700000,0.500000,0.681818,0.974026,-0.013333,0.942857,-0.090909
4,(water),(banana),1.000000,0.733333,0.733333,0.733333,1.000000,0.000000,1.000000,0.000000
5,(banana),(water),0.733333,1.000000,0.733333,1.000000,1.000000,0.000000,inf,0.000000
6,(water),(fig),1.000000,0.700000,0.700000,0.700000,1.000000,0.000000,1.000000,0.000000
7,(fig),(water),0.700000,1.000000,0.700000,1.000000,1.000000,0.000000,inf,0.000000
8,(water),(orange),1.000000,0.566667,0.566667,0.566667,1.000000,0.000000,1.000000,0.000000
9,(orange),(water),0.566667,1.000000,0.566667,1.000000,1.000000,0.000000,inf,0.000000
10,"(water, fig)",(banana),0.700000,0.733333,0.500000,0.714286,0.974026,-0.013333,0.933333,-0.081633
11,"(water, banana)",(fig),0.733333,0.700000,0.500000,0.681818,0.974026,-0.013333,0.942857,-0.090909
12,"(fig, banana)",(water),0.500000,1.000000,0.500000,1.000000,1.000000,0.000000,inf,0.000000
13,(water),"(fig, banana)",1.000000,0.500000,0.500000,0.500000,1.000000,0.000000,1.000000,0.000000
14,(fig),"(water, banana)",0.700000,0.733333,0.500000,0.714286,0.974026,-0.013333,0.933333,-0.081633
15,(banana),"(water, fig)",0.733333,0.700000,0.500000,0.681818,0.974026,-0.013333,0.942857,-0.090909

Conclusion: It seems like the package algorithm also finds the associations from 1 itemsets -> 2 itemsets which my algorithm does not generate.

Conclusion: It seems like the package algorigthm also finds the association between 1-itemsets -> 2 itemsets, which my algorithm does not generate.